apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app-deployment
  labels:
    app: notes-app
  namespace: notes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
      - name: notes-app
        image: khanazal/notes-app:latest
        ports:
        - containerPort: 8000

        # 1️⃣ STARTUP PROBE (runs FIRST)
        startupProbe:
          httpGet:
            path: /
            port: 8000
          failureThreshold: 10
          periodSeconds: 5
          timeoutSeconds: 2

        # 2️⃣ READINESS PROBE (controls traffic)
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 2
          failureThreshold: 3

        # 3️⃣ LIVENESS PROBE (restarts container)
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3
